<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%p %t %c - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.perf4j.TimingLogger" level="trace">
        <appender-ref ref="console"/>
    </logger>

    <logger name="at.ainf.logging" level="debug">
        <appender-ref ref="console"/>
    </logger>

    <root level="debug"/>
</configuration>