<configuration>
    <appender name="diagnosis" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>logs/choco2.log</File>
        <encoder>
            <pattern>%p %t %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>1</maxIndex>
            <FileNamePattern>logs/choco2.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>500KB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <logger name="diagnosis" level="info"/>
    <logger name="diagnosis.quickxplane" level="info"/>
    <root level="debug">
        <appender-ref ref="diagnosis"/>
    </root>
</configuration>