<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%p %t %c - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="diag" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>logs/diagnosis.log</File>
        <encoder>
            <pattern>%p %t %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>1</maxIndex>
            <FileNamePattern>logs/diagnosis.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>500KB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="at.ainf.diagnosis" level="debug">
        <appender-ref ref="console"/>
        <appender-ref ref="diag"/>
    </logger>

    <root level="debug">
        <appender-ref ref="diag"/>
    </root>

</configuration>