<configuration>
    <appender name="sat4j" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>logs/sat4j.log</File>
        <encoder>
            <pattern>%p %t %c - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>1</maxIndex>
            <FileNamePattern>logs/sat4j.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>500KB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%p %t %c - %m%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="sat4j"/>
        <!--
        <appender-ref ref="console"/>
        -->
    </root>
</configuration>